.footer {
    margin-top: 20px;   
    background-color: blue; 
 }
 p {
    text-align: justify;
 }

 .h1 {

    margin-left: 20px;
 }

 .foo {

    max-width: 100%;
 }

 .foo1 {

    max-width: 100%;
 }
 .foo2 {

    max-width: 100%;
 }

 .foo3 {

    max-width: 100%;
 }

 .foo4 {

    max-width: 100%;
 }

 .foo5 {

    max-width: 100%;
 }

 .foo6 {

    max-width: 100%;
 }

 .firstpad {

margin-top: 20px;
 }

 .secondpad {
    margin-top: 20px;
margin-bottom: 20px;
 }